<%- include('./Dashboardhead.ejs') %>
                <div class="col-md-9">
                    <h1>Welcome to Dashboard, <span style="color: rgb(243, 175, 48);"><%= n %></span></h1>
                    <p>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing 
                        industries for previewing layouts and visual mockups.</p>
                </div>
            </div>
        </div>
    </div>
    <div style="padding-top: 5cm;"></div>
<%- include('../footer.ejs')%>
