 <br>
 <br>
 <!-- footer-->
 <div class="mainfooter">
    <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <a href="" class="navbar-brand"> <!--for brand name -->
                        <h1 class="navstyle">BlogBuddy</h1> <h6 class="navstyle">By Ashutosh Sharma and Nisha Bareliya</h6>
                    </a>
                    <br><br>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-7">
                    <b><h2 class="ml">CONTACT <span style="color:rgb(84, 219, 129) ;">US</span></h2></b>
                    <p class="footp">
                        Blogger is an American online content management system founded in 1999 which enables its users
                         to write blog with time-stamped entries. Pyra Labs developed it before being acquired by Google
                         in 2003. Google hosts the blogs, which can be accessed through a subdomain of blogbuddy.com.
                    </p>
                    <div class="row">
                        <div class="col-md-6 footadd">
                            <span >
                                <strong style="color:rgb(84, 219, 129) ;">Address</strong>
                                <br> 6, Chanakyapuri Shopping Complex, 48, Malcha Marg, New Delhi 110021
                            </span>
                        </div>
                        <div class="col-md-6 footadd">
                            <span>
                                <strong style="color:rgb(84, 219, 129) ;"> Bug Report </strong>
                                <br> Mobile:
                                <a href="tel:09313663486">
                                <b style="color:rgb(84, 219, 129) ;">+91 9313663486</b>
                                </a>
                                <br> Email: 
                                <a href="mailto:franchise@blogbuddy.in">
                                <b style="color:rgb(84, 219, 129);">bugreport@blogbuddy.in</b>
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 footadd">
                            <span>
                                <strong style="color:rgb(84, 219, 129) ;">HR Enquiry</strong>
                                <br> Mobile: 
                                <a href="tel:09999304427">
                                    <b style="color:rgb(84, 219, 129) ;">+91 9999304427</b>
                                </a><br> Email:
                                <a href="mailto:hr@firstfiddle.in">
                                    <b style="color:rgb(84, 219, 129) ;">hr@blogbuddy.in</b>
                                </a>
                            </span>
                        </div>
                        <div class="col-md-6 footadd">
                            <span>
                                <strong style="color:rgb(84, 219, 129) ;">Other Enquiry</strong>
                                <br>Email: 
                                <a href="mailto:customercare@firstfiddle.in">
                                    <b style="color:rgb(84, 219, 129) ;">customercare@blogbuddy.in</b>
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="social-icons text-left">
                        <a href="https://www.linkedin.com/company/first-fiddle-restaurants/" target="_blank">
                        <i class="fab fa-linkedin fa-2x"></i></a>&nbsp; &nbsp;
                        <a href="https://www.facebook.com/firstfiddlerestaurants/" target="_blank">
                        <i class="fab fa-facebook-square fa-2x"></i></a>&nbsp; &nbsp;
                        <a href="https://twitter.com/hashtag/firstfiddlerestaurants" target="_blank">
                        <i class="fab fa-twitter fa-2x"></i></a>&nbsp; &nbsp; 
                        <a href="https://www.instagram.com/firstfiddlerestaurants/" target="_blank">
                        <i class="fab fa-instagram fa-2x"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div  class="row" style="display: block;">
            <div  class="text-center">
                <p  class="copyright-text" style=" font-size:13px;color: white;margin-top: 0px;
                margin-bottom: 0rem;">
                PRIVACY POLICY | TERMS AND CONDITIONS | 
                <a routerlink="/blog" style="text-decoration: none; color: #fff;" ng-reflect-router-link="/blog" href="/blog">
                    BLOG
                </a>
                <br><span style="color: rgb(84, 219, 129);">COPYRIGHT © 2021</span>
                <a href="http://www.blogbuddy.in" style="color: white;text-decoration: none;" target="_blank">
                    BLOGBUDDY B&amp;B PRIVATE LIMITED
                </a>
                </p>
            </div>
        </div>
    </div>
</div><!--footer end-->
</body>
</html>